<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cards available for review</h1>
    <p>
      Dear user, there is already <%= @user.cards_for_review.count %> cards available for review.
    </p>
  </body>
</html>
