<% unless @card == nil %>
  <h2>Вспомни как переводится слово <%= @card.original_text %></h2>
  <%= render "form", card: @card %>
<% else %>
  <h2>Карточки кончились =)</h2>
  <p>Попробуйте снова через пару дней</p>
<% end %>
